<script>
    function addDropdown(dropdownID) {
      var dropdowns = document.getElementById(dropdownID);
      var dropdownCount = dropdowns.children.length + 1;
      var newDropdown = document.createElement('div');
      newDropdown.setAttribute("id", `dropdown${dropdownCount}`);
      newDropdown.innerHTML = `
        <label for="component${dropdownCount}">Choose a component:</label>
        <select name="component${dropdownCount}" id="component${dropdownCount}">
          <option value="hadoop-spark">hadoop-spark</option>
          <option value="mqtt">Mosquitto</option>
          <option value="kafka">Kafka</option>
          <option value="openSearch">OpenSearch</option>
          <option value="snort">snort</option>
        </select>
        <button type="button" onclick="configureComponent(this)">Configure</button>
        <button type="button" onclick="deleteComponent(this)">Delete</button>
        `;
      dropdowns.appendChild(newDropdown);
    }
    function addVM(vmID) {
      var newDropdown = document.createElement('div');
      // if (vmID == 'vms'){
      //   var dropdowns = document.getElementById(vmID);
      // } else {
      // }
      var r = /\d+/;
      var vmIndex = (parseInt(vmID.match(r)))+1;
      var dropdowns = document.getElementById('vms');
      // vmID = vmID+1
      var dropdownCount = dropdowns.children.length + 1;
   
      newDropdown.setAttribute("id", `vm${vmIndex}`);
      newDropdown.innerHTML = `  
        <div id="dropdowns${vmIndex}">
          <h1 id='${vmIndex}''>vm${vmIndex}
            <button type="button" onclick="configureVM(this)">Configure VM</button>
          </h1>

          <div class="dropdown">
           
          </div>
        </div>
        <button type="button" onclick="addDropdown(this.parentNode.children[0].id)">Add Component</button>
        <button type="button" onclick="deleteComponent(this)">Delete VM</button>
        <br></br>
        <br></br>
        `;
      dropdowns.appendChild(newDropdown);
    }
    function readVM(vmID) {
      var newDropdown = document.createElement('div');
      var dropdowns = document.getElementById('vms');
      var dropdownCount = dropdowns.children.length + 1;
    
      var r = /\d+/;
      var vmIndex = (parseInt(vmID.match(r)));

      newDropdown.setAttribute("id", `${vmID}`);
      newDropdown.innerHTML = `  
        <div id="dropdowns${dropdownCount}">
          <h1 id ='${vmID}''>${vmID}
            <button type="button" onclick="configureVM(this)">Configure VM</button>
          </h1>
          
          <div class="dropdown">
           
          </div>
        </div>
        <button type="button" onclick="addDropdown(this.parentNode.children[0].id)">Add Component</button>
        <button type="button" onclick="deleteComponent(this)">Delete VM</button>
        <br></br>
        <br></br>
        `;
      dropdowns.appendChild(newDropdown);
    }
  
    function deleteComponent(button) {
      button.parentNode.remove();
    }

    function configureComponent(button) {
      var select = button.parentNode.querySelector('select');
      var selectedValue = select.options[select.selectedIndex].value;
      var vmId=button.parentElement.parentElement.parentElement.id
      window.location.href = `/config/${selectedValue}-config?component=${selectedValue}&vmId=${vmId}`;
    }
    function configureVM(button) {
      var select = button.parentNode.querySelector('select');
      var vmId=button.parentElement.parentElement.parentElement.id
      console.log(vmId)
      window.location.href = `/config/vm-config?vmId=${vmId}`;
    }

    function readData(){
     
        var key = '<%- JSON.stringify(dataParsed) %>'
        var dataParsed= JSON.parse(key);
      var i =0
      
      Object.keys(dataParsed).forEach(key => {    
        readVM(key)
        i=i+1
        // console.log(key)
        Object.keys(dataParsed[`${key}`]).forEach(key => {        
          addDropdown('dropdowns'+i)
        })       
      })
    }
    
    window.onload = readData();
    
  </script>