<!DOCTYPE html>
<html>
  <head>
    <title>Hadoop and Spark Configuration Page</title>
  </head>

  <body>
    <h1>Hadoop Configuration</h1>
    <form action="/config/hadoopSave?component=hadoop&vmId=<%=vmId%>" method="post">

      <label for="hadoopIp">Ip Address:</label>
      <input type="text" id="hadoopIp" name="hadoopIp"><br>

      <label for="hadoopUser">User for Hadoop:</label>
      <input type="text" id="hadoopUser" name="hadoopUser"><br>

      <input type="submit" value="Submit">
    </form>

    <h1>Spark Configuration</h1>
    <form>

      <label for="sparkIp">Ip Address:</label>
      <input type="text" id="sparkIp" name="sparkIp"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
