<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Configuration Page</title>
  </head>
  <body>
    <h1>Kafka Configuration</h1>
      <form action="/config/kafkaSave?component=<%=component%>&vmId=<%=vmId%>" method="POST">
        <label for="kafkaIp">Ip Address:</label>
        <input type="text" id="kafkaIp" name="kafkaIp" value="<%=kafkaIp%>"><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
