<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Configuration Page</title>
  </head>
  <body>
    <h1>Kafka Configuration</h1>
    <form action="/config/kafkaSave" method="POST">
      <label for="kafkaIp">Ip Address:</label>
      <input type="number" id="kafkaIp" name="kafkaIp"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <script>
  </script>
</html>
