<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <form>
    <div id="vms">
      <div id="vm">
        <div id="dropdowns1">
          <div id="dropdown">
            <label for="cars1">Choose a car:</label>
            <select name="cars1" id="cars1">
              <option value="hadoop-spark">hadoop-spark</option>
              <option value="mqtt">Mosquitto</option>
              <option value="kafka">Kafka</option>
              <option value="openSearch">OpenSearch</option>
            </select>
            <button type="button" onclick="configureComponent(this)">Configure</button>
            <button type="button" onclick="deleteComponent(this)">Delete</button>
          </div>
        </div>
        <button type="button" onclick="addDropdown(this.parentNode.children[0].id)">Add Component</button>
        <button type="button" onclick="deleteComponent(this)">Delete VM</button>
      </div>
    </div>
    <button type="button" onclick="addVM(this.parentNode.children[0].id)">Add VM</button>
  </form>

  
  <%- include('_mainPageFunctions') %>  
  </body>
</html>