<!DOCTYPE html>
<html>
  <head>
    <title>openSearch Configuration Page</title>
  </head>
  <body>
    <h1>openSearch Configuration</h1>
    <form>
      <label for="openSearchIp">Ip Address:</label>
      <input type="number" id="openSearchIp" name="openSearchIp"><br>

      <label for="openSearchUser">User:</label>
      <input type="text" id="openSearchUser" name="openSearchUser"><br>
      
      <label for="openSearchPassword">Password:</label>
      <input type="password" id="openSearchPassword" name="openSearchPassword"><br>
      
      <input type="submit" value="Submit">
    </form>
  </body>
  <script>
    const queryString = window.location.search;

const urlParams = new URLSearchParams(queryString);
const product = urlParams.get('value')
console.log(product);
  </script>
</html>
